.home {

  &-spacer {
    @media @min {
      height: 40vh;
    }
    @media @tablet {
      height: 100vh;  
    }
    @media @desktop {
      height: 100vh;  
    }
  }

  &-wrapper {
    position: relative;
    z-index: 40;
  }

  &-content {
    padding-top: @spacer;

    h1 {
      color: @brown;
      margin: 0;
      @media @min {
        font-size: 2.25rem;
      }
      @media @tablet {
        font-size: 48px;
        line-height: 1.4;
      }
    }

    h3 {
      color: @brown;
      margin: 0 0 0;
      padding: 20px 0 20px;
      line-height: 1.6;
      font-size: 2.25rem;
    }

    &-join {
      color: @brown;
      margin-top: @spacer;
      a {
        text-decoration: none;
        border-radius: 2px;
        color: inherit;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: normal;
        display: block;
        padding: 10px 0;
      }
    }

    ul {
      margin-left: 0;
      padding: 0;
      text-transform: uppercase;
      color: #A1A1A1;
      @media @min {
        font-size: 12px;
        letter-spacing: 1.5px;
      }
      @media @tablet {
        font-size: 13px;
        letter-spacing: 1.5px;
      }
      li {
        display: block;
        padding: 5px 0;
        font-weight: normal;
        //border-top: 1px solid @lightGray;
      }
    }

  }

}