<div id="footer">
  <div class="fs-row">
  	<div id="footer-left" class="fs-cell fs-all-half fs-sm-half fs-xs-full">
      <a href="tel:949-484-9310"><i data-feather="phone"></i>949-484-9310</a>
      <a href="mailto:info@sonnecare.com"><i data-feather="mail"></i>info@sonnecare.com</a>
    </div>
    <div id="footer-right" class="fs-cell fs-all-half fs-sm-half fs-xs-full">
      <span>Copyright {{'now' | date: '%Y' }}, {{ shop.name }}</span>
    </div>
  </div>
</div>
