<div id="header">
  <div class="fs-row">
    <div class="fs-cell fs-all-half fs-sm-1">
      <a id="header-logo" class="button button-clear button-nav button-first button-last" href="/">{{ shop.name }}</a>
    </div>
    <div class="fs-cell fs-all-half fs-sm-2 text-right">
      {% for link in linklists.social-menu.links %}
      <a class="button button-clear button-nav button-icon" href="{{ link.url }}"><i data-feather="{{ link.title | handleize }}"></i></a>
      {% endfor %}
      <a 
        id="header-join" 
        class="button button-clear button-nav button-last button-join fs-sm-hide swap" 
        data-swap-target='#subscribe'
        data-swap-linked='.close'
        href="#">Get Early Access</a>
    </div>
  </div>
</div>
