{% include 'page-header' %}

<div class="fs-row">
{% assign page = pages.frontpage %}
{{ page.content }}
{% assign collection = collections.frontpage %}
{% for product in collection.products %}
{% assign width = 'fs-cell fs-lg-4 fs-md-half fs-sm-half' %}
{% include 'product-grid-item' %}
{% else %}
  <div class="fs-cell fs-all-full hero bg--bgGray">
    <div class="centered">
      <h2>You have no products in your Frontpage collection</h2>
    </div>
  </div>
  <hr class="fs-cell fs-all-full invisible">
{% endfor %}
</div>