<!-- @include parts/header.kit -->

<div class="home-wrapper fs-grid-fluid">
  <div class="home-scene home-scene--one">
    <div class="home-scene-content centered"></div>
  </div>
  <div class="home-scene home-scene--two fs-grid-fluid">
    <div class="fs-row">
      <div class="fs-cell fs-lg-5 fs-md-3 fs-sm-3 fs-lg-align-center fs-md-align-center">
        <div class="home-scene-content main">
          <div class="home-primary">Purposefully designed skin care</div>
          <div class="home-secondary">Made for you and everyone else</div>
        </div>
      </div>
      <div class="fs-cell fs-lg-7 fs-md-4 fs-sm-3">
        <div class="home-scene-image transparent"></div>
      </div>
    </div>
  </div>
  <div class="home-scene home-scene--three fs-grid-fluid">
    <div class="fs-row">
      <div class="fs-cell fs-lg-9 fs-lg-push-3 fs-md-4 fs-lg-push-2 fs-sm-3">
        <div class="home-scene-image background" data-background-options='{"source":"{{ 'SonneCare_311.jpg'  | asset_url }}"}'></div>
      </div>
    </div>
  </div>
</div>
<div id="subscribe" class="subscribe center">
  <div class="subscribe-centered">
    <div class="fs-row">
      <div class="fs-cell fs-lg-10 fs-md-5 fs-sm-3 fs-all-justify-center">
        <div class="fs-row subscribe-bg">
          <a href="" class="subscribe-close swap" data-swap-target="#subscribe">Close</i></a>
          <div class="fs-cell fs-all-half fs-sm-hide fs-contained">{{ 'subscribe.jpg'  | asset_url | img_tag, '', 'img-responsive' }}</div>
          <div class="fs-cell fs-all-half fs-sm-full fs-lg-align-center fs-contained">
            <div class="subscribe-content">
              <div class="subscribe-primary">Join the Sonne email list</div>
              <div class="subscribe-secondary">Be the first to know when we launch, receive special offers, and more.</div>
              {% include 'subscribe-form' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- @include parts/footer.kit -->


{% comment %}
<div class="index index--covered background" data-background-options='{"source":"{{ 'home.jpg'  | asset_url }}"}'>
  <div class="index-content index-content--centered">
    <div class="fs-row">
      <div class="fs-cell fs-lg-half fs-md-half fs-sm-full">
        {{ pages.home.content }}
      </div>
    </div>
  </div>
</div>

{% include 'subscribe' %}
{% endcomment %}