<div class="index index--covered background" data-background-options='{"source":"{{ 'home.jpg'  | asset_url }}"}'>
  <div class="index-content index-content--centered">
    <div class="fs-row">
      <div class="fs-cell fs-lg-half fs-md-half fs-sm-full">
        {{ pages.home.content }}
      </div>
    </div>
  </div>
</div>

{% include 'subscribe' %}