{% assign content = pages.splash.content | split: '<hr>' %}

<div class="home background" data-background-options='{"source":"{{ 'background.jpg'  | asset_url }}"}'>
  <div class="home-wrapper">
    <div class="fs-row">
      <div class="fs-cell fs-xl-5 fs-lg-half fs-md-half fs-sm-2 fs-all-align-center">
        <div class="home-content">
          {{ pages.splash.content }}
          <div class="home-content-join">
            <a 
            	class="swap" 
            	data-swap-target='#subscribe'
        			data-swap-linked='.close'
            	href="#">Get Early Access</a>
          </div>
        </div>
      </div>
      <div class="fs-cell fs-xl-7 fs-lg-half fs-md-half fs-sm-1">
        <div class="home-spacer"></div>
      </div>
    </div>
  </div>
</div>


<div id="subscribe" class="subscribe center">
  <div class="subscribe-centered">
    <div class="fs-row">
      <div class="fs-cell fs-lg-10 fs-md-5 fs-sm-3 fs-all-justify-center">
        <div class="fs-row subscribe-bg">
          <a href="" class="subscribe-close swap close" data-swap-target="#subscribe" data-swap-linked='.close'><i data-feather="x"></i></a>
          <div class="fs-cell fs-all-half fs-sm-hide fs-contained">{{ 'subscribe.jpg'  | asset_url | img_tag, '', 'img-responsive' }}</div>
          <div class="fs-cell fs-all-half fs-sm-full fs-lg-align-center fs-contained">
            <div class="subscribe-content">
              <div class="subscribe-primary">Join the mailing list to get early access to our membership.</div>
              <div class="subscribe-secondary">Be the first to know when we launch, receive special offers, and more.</div>
              {% include 'subscribe-form' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>