{% layout none %}

<div class="password">
<div class="password-wrapper">

{% if shop.password_message and shop.password_message != '' %}
    {{ shop.password_message }}
{% else %}
    <p><span class="default-text">Will be opening soon...</span></p>
{% endif %}

{% form 'storefront_password' %}
    {{ form.errors | default_errors }}
    <label for="password">Enter store using password:</label>
    <input type="password" name="password">
    <input type="submit" value="Enter">
{% endform %}

</div>
</div>

<style>
	body,html {
		background-color: #f9f9f9;
		font-family: helvetica, san-serif;
		-webkit-font-smoothing: antialiased;
	}
	.password {
		height: 100vh;
		width: 100%;
		position: relative;
	}
	.password-wrapper {
		background-color: #fff;
		padding: 50px;
		width: 400px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		box-shadow: 0 10px 25px rgba(0,0,0,.05);
	}
</style>