{% for block in section.blocks %}
<div class="hero hero-small checkpoint explain" data-checkpoint-animation="fade-up">
  <div class="fs-row">
    <div class="fs-cell fs-lg-7 fs-md-4 fs-sm-full {% if block.settings.block_align == 'left' %}fs-last fs-sm-first{% endif%}">
      <img src="{{ block.settings.block_img | img_url: '1024x1024' }}" class="img-responsive {% if block.settings.block_align == 'left' %}left{% else %}right{% endif%}" alt="{{ block.settings.block_text | escape }}">
    </div>
    <div class="fs-cell fs-lg-5 fs-md-2 fs-sm-full fs-all-align-center">
      <div class="explain-content {% if block.settings.block_align == 'left' %}left{% else %}right{% endif%}">
        <div class="explain-title">{{ block.settings.block_title }}</div>
        <div class="explain-desc">{{ block.settings.block_desc }}</div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% schema %}
{
  "name": "Explainer Block",
  "blocks": [
    {
      "type":"text",
      "name": "Component",
      "settings": [
        {
          "type":"text",
          "id":"block_title",
          "label":"Title"
        },
        {
          "type": "textarea",
          "id": "block_desc",
          "label": "Description"
        },
        {
         "type": "image_picker",
          "id": "block_img",
          "label": "Desktop Image"
        },
        {
         "type": "image_picker",
          "id": "block_img_mobile",
          "label": "Mobile Image"
        },
        {
          "type": "select",
          "id": "block_align",
          "label": "Align",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Explainer Block"
//      "category": "Layout"
    }
  ]
}
{% endschema %}
